[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
lxml = "*"
requests = "*"
cloudscraper = "*"
pandas = "*"
numpy = "*"
datetime = "*"
dateparser = "*"
ipython = "*"


[dev-packages]

[requires]
python_version = "3.8"
