<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="Tile3_AboutMe.html" class="button next">About Me</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Interests</h2>
                    <h3>Professional</h3>
                </header>
		    <h3>
            <img style='vertical-align:middle;' src="https://github.com/CVanchieri/Portfolio/blob/master/assets/images/General/arrow.png?raw=true" alt="arrow" >  Project Management <br>
            <img style='vertical-align:middle;' src="https://github.com/CVanchieri/Portfolio/blob/master/assets/images/General/arrow.png?raw=true" alt="arrow" >  Team Leadership <br> 
            <img style='vertical-align:middle;' src="https://github.com/CVanchieri/Portfolio/blob/master/assets/images/General/arrow.png?raw=true" alt="arrow" >  Customer Relations <br> 
            <img style='vertical-align:middle;' src="https://github.com/CVanchieri/Portfolio/blob/master/assets/images/General/arrow.png?raw=true" alt="arrow" >  Community Development <br>
            <img style='vertical-align:middle;' src="https://github.com/CVanchieri/Portfolio/blob/master/assets/images/General/arrow.png?raw=true" alt="arrow" >  Account Management <br>
            <img style='vertical-align:middle;' src="https://github.com/CVanchieri/Portfolio/blob/master/assets/images/General/arrow.png?raw=true" alt="arrow" >  Administrative Operations <br>  
                <header class="major">
                    
                    <h3>Personal</h3>
                </header>
			<img style='vertical-align:middle;' src="https://github.com/CVanchieri/Portfolio/blob/master/assets/images/General/arrow.png?raw=true" alt="arrow" >  Technology Advancement<br>
            <img style='vertical-align:middle;' src="https://github.com/CVanchieri/Portfolio/blob/master/assets/images/General/arrow.png?raw=true" alt="arrow" >  Environment Sustainability<br>  
			<img style='vertical-align:middle;' src="https://github.com/CVanchieri/Portfolio/blob/master/assets/images/General/arrow.png?raw=true" alt="arrow" >  People Relations <br>
		    </h3>
               
		    
		    
            </div>
        </section> 

    </div>

    {% include footer.html %}

</body>

</html>
